@use "../../styles/screens.scss" as *;
@use "../../styles/colors.scss" as *;

.sidebar {
  background-color: $color-grey-light;
  @media only screen and (min-width: $screen-s) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  @media only screen and (min-width: $screen-m) {
    grid-column: auto / auto;
    grid-row: 2 / 4;
  }

  .wrapper {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: $screen-s) {
      height: 100vh;
      justify-content: center;
    }

    @media only screen and (min-width: $screen-m) {
      justify-content: stretch;
      position: sticky;
      top: 0;
    }

    h3 {
      &:not(:first-of-type) {
        margin-top: 35px;
      }
    }
  }
}
