@use "../../styles/screens.scss" as *;

.sidebar {
  @media only screen and (min-width: $screen-m) {
    border-right: 1px solid rgb(226, 226, 226);
    width: 320px;
    position: relative;
  }

  .wrapper {
    padding: 20px;

    > * {
      color: white;
    }

    h3 {
      &:not(:first-of-type) {
        margin-top: 40px;
      }
    }
  }

  a,
  a:active,
  a:focus {
    color: yellow;
    text-decoration: none;
  }

  a:hover {
    color: red;
  }
}
