@use "../../styles/screens.scss" as *;

.pagetitle {
  background-color: lighten(black, 20%);
  // background-color: white;
  color: white;
  // color: black;
  padding-inline: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  @media only screen and (min-width: $screen-l) {
    padding-inline: 60px;
  }

  h1 {
    font-size: 3.8rem;

    @media only screen and (min-width: $screen-s) {
      font-size: clamp(2rem, 5vw, 3.8rem);
    }

    @media only screen and (min-width: $screen-m) {
      font-size: 6rem;
    }

    @media only screen and (min-width: $screen-l) {
      font-size: 9rem;
    }

    @media only screen and (min-width: $screen-xl) {
      font-size: 12rem;
    }
  }

  h2 {
    padding-left: 2px;
    font-size: 2.4rem;

    @media only screen and (min-width: $screen-s) {
      font-size: clamp(1.6rem, 3vw, 2.6rem);
    }

    @media only screen and (min-width: $screen-m) {
      font-size: 3rem;
    }

    @media only screen and (min-width: $screen-l) {
      font-size: 4rem;
    }

    @media only screen and (min-width: $screen-xl) {
      font-size: 6rem;
    }
  }
}
