* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  background-color: rgb(230, 230, 230);
}

ul {
  padding-left: 40px;

  ::marker {
    color: #ffbe47;
  }
}
