@use "./colors.scss" as *;

@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Lilita+One&family=JetBrains+Mono&family=Nunito&display=swap");
* {
  font-family: Nunito;
}

h1 {
  font-family: Lilita One;
  span {
    font-family: Lilita One;
  }
}

h2 {
  font-family: JetBrains Mono;
}

h3 {
  font-family: Gochi Hand;
  font-size: 3rem;
  span {
    font-family: Gochi Hand;
  }
}

p {
  line-height: 1.6;
}

a,
a:active,
a:focus {
  color: $color-accent;
  text-decoration: none;
}

a:hover {
  color: $color-accent-dark;
}
