$color-dark: #000;
$color-light: #fff;

$color-accent: #ffbe47;
$color-accent-dark: #dc8f00;

$color-background-main: $color-light;

$color-grey: #a0a0a0;
$color-grey-light: #f0f0f0;
$color-grey-dark: #999;
