@use "../../styles/colors.scss" as *;

.skills {
  display: flex;
  justify-content: space-between;

  .rating {
    font-size: 2rem;
    line-height: 1;
    color: $color-accent;

    > * {
      &:last-child {
        color: $color-grey;
      }
    }
  }
}
