$button-size: 40;

.showmore {
  position: relative;
  overflow: hidden;

  button {
    position: absolute;
    z-index: 10000;
    top: calc(($button-size * 1.34 - $button-size) / 2) + px;
    right: 0;
    width: $button-size + px;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 50%;
    font: unset;
    font-size: 2rem;
    cursor: pointer;
  }

  .gradient {
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(transparent 40%, white);
    height: 80px;
    width: 100%;
  }
}
