@use "../../styles/screens.scss" as *;

.pagewrapper {
  position: relative;
  max-width: 1200px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 75vh 25vh auto auto;

  @media only screen and (min-width: $screen-s) {
    grid-template-columns: 1fr 260px;
    grid-template-rows: 75vh 25vh auto;
  }

  @media only screen and (min-width: $screen-m) {
    grid-template-columns: 260px 1fr;
    grid-template-rows: none;
  }

  @media only screen and (min-width: $screen-l) {
    grid-template-columns: 320px 1fr;
  }

  // To future me: keeping this around in case I want to give a special style to fullscreen mode
  // @media only screen and (min-width: $screen-xl) {
  //   margin-block: 10px;
  //   gap: 10px;

  //   > * {
  //     border-radius: 10px;
  //     overflow: hidden;
  //   }
  // }
}
